*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

/* header */
header{
    max-width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
   
}

.logo{
    width: 250px;
    height:65px;
    padding: 24px 0px 0px 0px;
    
}

.logo img{
    width: 100%;
    height: 100%;
    background-position: center;
    object-fit: cover;
}

.header-btn button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.header-btn button:hover{
    background-color: #0056b3;
}

.header-btn{
    display: flex;
    align-items: center;
    gap:20px;
}
.header-btn i{
    font-size: 24px;
    cursor: pointer;
    margin: auto 0;
}

/* about me */

.about-me{
    max-width:100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background:linear-gradient(to right, rgb(201, 36, 146), rgb(255, 74, 3));
}

.my-photo{
    width:200px;
    height:200px;
    margin-top: 20px;
    
}
.my-photo img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px black;
    
}
.my-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px; 
}
.my-info h2{
    font-size: 30px;
    margin-bottom: 15px;
    color: white;
    font-weight: bolder;
}

.my-info p{
    margin: 0 20%;
    font-size:18px;
    text-align: center;
    margin-bottom: 90px;
    color:white;

}

/* skills */

.skills{
    max-width:1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.skills h2{
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
    color: black;
    font-weight: bolder;
    padding: 30px 0 0 0;
}


.skills ul{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.skills ul li{
    font-size: 18px;
    color: black;
    margin: 5px 0;
    padding: 10px 20px;
    background-color: #e9e1e1;
    border:none;
    border-radius:5px;
    box-shadow: 0px 0px 5px 1px #e9e1e1;
    margin-bottom: 20px;
}

.skills-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: white;
    box-shadow: 0px 0px 5px 1px #ccc;
    padding:5px 5px;
}

.skills-img img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    
}

/* programming skills */
.programming-lang-heading h2{
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: bolder;
}

.progress{
    width:550px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.progress h6{
    text-align: center;
    font-size:18px;
    color: rgb(136, 134, 134);
}
.progress-bar{
    max-width:100%;
    margin: 0 auto;
    height:15px;
    background:linear-gradient(to right, rgb(233, 2, 156), rgb(255, 74, 3));
    margin: 5px 0px;
    border-radius: 10px;
}

/* project section */
.project{
    max-width: 1280px;
    margin: 30px auto;

}
.project-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.project-heading h2{
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: bolder;
}
.project-heading p{
    color: rgb(73, 71, 71);
}

.project-row{
    display:flex;
    gap:20px;
    justify-content: center;
    margin: 20px;
    margin-bottom: 45px;
}
.project-item{
    width:190px;
    height:auto;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 3px grey;
    
}

.project-item img{
    height:50%;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 7px;
}

.project-item h4{
    text-align: center;
    padding: 10px;
}
.project-item p{
    text-align: center;
    padding: 10px;
}

.project-item button{
    background-color: purple;
    color: white;
    font-size: 13px;
    padding:8px 10px;
    margin:10px;
    margin-left: 25%;
    border:none;
    border-radius:5px;
    margin-bottom: 30px;
}

/* contact section */
.contact{
    max-width:1280px;
    margin: 0 auto;
}
.contact h2{
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
    color: black;
    font-weight: bolder;
    padding: 20px 0 0 0;
}

.contact-form{
    width:25%;
    margin: 0 auto;
    padding:1% 1%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 5px 3px grey;
    margin-bottom: 50px;
}
.contact-form p{
    font-size: 18px;
    margin: 1% 1%;
}
.contact-form input{
    padding:3px 0 3px 10px;
    margin:5px;
    width:100%;
    font-size: 15px;
    border-radius: 5px;
}


.contact-form textarea{
    margin:5px;
    font-size: 15px;
    padding:3px ;
    padding-left: 10px;
    height: auto;
    width:100%;
    border-radius: 5px;
}

.contact-form button{
    padding: 5px 7px;
    width: 100%;
    margin: 5px;
    border-radius: 5px;
    color: white;
    /* border: none; */
    background:linear-gradient(to right, rgb(233, 2, 156), rgb(255, 74, 3));
}

.contact-info{
    max-width: 1280px;
    margin:0  auto;

}
.contact-info h2{
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
    color: black;
    font-weight: bolder;
    padding: 20px 0 0 0;
}
.contact-info p{
    text-align: center;
    font-size: 15px;
    margin: 20px 0;
    color: black;
}

.info-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-bottom: 50px;

}

.info-btn button{
    padding:10px 10px;
    border-radius: 50%;
    border: none;


}

.email{
    background-color: orangered;
    box-shadow: 0 0 5px 3px rgb(255, 8, 0);
}
.linkdin{
    background-color: rgb(10, 116, 202);
    box-shadow: 0 0 5px 3px rgb(0, 60, 255);
}

/* footer  */

footer{
    max-width: 100%;
    margin:0 auto;
    background:linear-gradient(to right, rgb(233, 2, 156), rgb(255, 74, 3));
    padding:40px;

}

footer p{
    font-size: 15px;
    text-align: center;
}

hr{
    width:40%;
    margin: 0 auto;
}